{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_content %}
    <div class="row">
        <div class="col-1">
            <div class="card">
                <div class="card-body" style="text-align: center">
                    <h3 class="card-title">Blog</h3>
                    <h3 class="card-text">[{{ blog }}]</h3>
                </div>
            </div>
        </div>

        <div class="col-1">
            <div class="card">
                <div class="card-body" style="text-align: center">
                    <h3 class="card-title">Yorum</h3>
                    <h3 class="card-text">[{{ comment }}]</h3>
                </div>
            </div>
        </div>

        <div class="col-1">
            <div class="card">
                <div class="card-body" style="text-align: center">
                    <h3 class="card-title">Yazar</h3>
                    <h3 class="card-text">[{{ author }}]</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}