<div class="col-md-4">
    <!-- Search widget-->
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <form action="{{ path('search') }}" method="post">
                <div class="input-group">
                    <input class="form-control" name="searchKey" type="text" placeholder="Search for...">
                    <span class="input-group-append"><button class="btn btn-secondary" type="submit">Go!</button></span>
                </div>
            </form>
        </div>
    </div>

    <!-- Categories widget-->
    {{ render(controller('App\\Controller\\CategoryController::getCategories')) }}
    <!-- Side widget-->
    {{ render(controller('App\\Controller\\SubscribeController::index')) }}

</div>